[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flask-debugtoolbar = "*"
autopep8 = "*"
pytest = "*"
ptvsd = "*"
tox = "*"
doc8 = "*"
epydoc = "*"
v = {editable = true,version = "*"}

[packages]
rdflib = "*"
requests = "*"
Flask = "*"
python-dotenv = "*"
cefpython3 = "*"
gunicorn = "*"
Flask-SQLAlchemy = "*"
Flask-Migrate = "*"
flask-restplus = "*"
"psycopg2" = "*"
Flask-SSLify = "*"
flask-sslify = "*"
Werkzeug = "*"
v = {editable = true,version = "*"}
cx-freeze = "*"
tox-pipenv = "*"

[requires]
python_version = "3.6"
