aiohttp
autopep8
blinker
bokeh
coverage
doc8
docutils
eel
epydoc
flask
flask-debugtoolbar
Flask-Migrate
flask-restplus
Flask-SQLAlchemy
flask-sslify
greenlet
gunicorn
keyring
pillow
psycopg2
ptvsd
pyflakes
pypandoc
pyro5>=5.11
PySide2>=5.15.2
pytest>=3
pytest-mock
python-dotenv
rdflib
requests
semantic_version
setuptools
simplejson
sphinx
tornado
tox
tox-pipenv
twine
Werkzeug
wheel
