aiohttp
autopep8
bokeh
doc8
docutils
eel
epydoc
flask
flask-debugtoolbar
Flask-Migrate
flask-restplus
Flask-SQLAlchemy
flask-sslify
gunicorn
keyring
pillow
pip
psycopg2
ptvsd
pyflakes
pylint>=2.3.1
pypandoc
pyro5>=5.11
PySide2>=5.15.2
pytest
python-dotenv
rdflib
requests
semantic_version
setuptools
simplejson
sphinx
tornado
tox
tox-pipenv
twine
Werkzeug
wheel
